#leftSide {
    float: left;
    width: 50%;
    height: 100%;
    background-color: #ff2626;
    /*
    Python - background-color: #3f5eba;
    HTML - background-color: #ff2626;
    CSS - background-color: #734f96;
    JS - background-color: #fc0;
    */
}

#rightSide {
    float: right;
    width: 50%;
    height: 100%;
    background-color: #ff2626;
}

.header{
    background-color: #303030;
    font-family: Courier, monospace;
    font-size: 1.35em;
    color: #F5F5F5;
    text-decoration: underline;
    text-align: center;
    border: 5px solid #bab6b2;
    border-radius: 5px;
    padding: 1%;
}

.numbox{
    float: left;
    width: 4.25%;
    background-color: #c2c5cc;
    margin-top: .35%;
    margin-left: 1.5%;
    margin-bottom: 1%;
    border: 5px solid black;
    border-right: 1px solid black;
    border-radius: 5px;
}

.numbox ol li {
    background-color: #c2c5cc;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.25em;
    font-weight: bold;
    color: black;
    margin-left: 9px;
    margin-top: 2px;
}

.textbox {
    float: left;
    border: 5px solid black;
    border-left: None;
    border-radius: 5px;
    margin-top: .35%;
}

.textbox textarea {
    background-color: #c2c5cc;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.125em;
    font-weight: bold;
    color: black;
    line-height: 25px;
    padding-top: 13px;
    padding-left: 3px;
}
